/Logs/
/obj/
/UserSettings/
/Recordings/
/Library/
.vs/
*.sln
*.csproj
.consulo/
ExportedObj/
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties

/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
sysinfo.txt
.gradle/

/[Mm]emoryCaptures/
